<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Manage CLass</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://anandchowdhary.github.io/ionicons-3-cdn/icons.css" integrity="sha384-+iqgM+tGle5wS+uPwXzIjZS5v6VkqCUV7YQ/e/clzRHAxYbzpUJ+nldylmtBWCP0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./grid.css">
    <link rel="stylesheet" href="./ManageClass.css">

</head>
<body>
  <div class="app_container">
              <div class="home">
                  <div class="grid wide">
                    <div class="container">
                      <div class="container__item">
                        <form class="form">
                          <input type="email" class="form__field" placeholder="Your Class" />
                          <button type="button" class="btn btn--primary btn--inside uppercase">Search</button>
                        </form>
                      </div>
                    </div>
                         <div class="row">
                            <div class="col l-2">
                                <div class="home--item">
                                    <div class="home--item__img" style=" background-image: url(https://www.ueidaq.com/uploads/c-sharp_support.jpg)" ></div>
                                    <div class="home--item__info">
                                        <div class="home-info"> 
                                          <p><i class="material-icons">notes</i></p>
                                          <p class="home--item__name">
                                            Lập trình C#
                                          </p>
                                        </div>
                                        <div class="home-info">
                                            <p><i class="material-icons">event</i></p>
                                            <p class="home--item__name">
                                            Thứ 2 ( tiết 3-4 ) </p>
                                          </div>
                                        <div class="home-button">
                                        <button class="custom-btn btn-2">Detail</button>
                                        <button class="custom-btn btn-2">Delete</button>
                                        </div>
                                    </div>
                                    <div class="home--item__favourite">
                                      <i class=""></i>
                                      <span></span>
                                      
                                  </div>
                                    
                                    <div class="home--item__more">
                                      <span class="home--item__sale-off-percent">...</span>
                                    
                                    </div>
                                </div>
                            </div>
                            <div class="col l-2">
                              <!-- Product item -->
                              <div class="home--item">
                                  <div class="home--item__img" style=" background-image: url(https://www.ueidaq.com/uploads/c-sharp_support.jpg)" ></div>
                                  <div class="home--item__info">
                                      <div class="home-info"> 
                                        <p><i class="material-icons">notes</i></p>
                                        <p class="home--item__name">
                                          Lập trình C#
                                        </p>
                                      </div>
                                      <div class="home-info">
                                          <p><i class="material-icons">event</i></p>
                                          <p class="home--item__name">
                                          Thứ 2 ( tiết 3-4 ) </p>
                                        </div>
                                      <div class="home-button">
                                      <button class="custom-btn btn-2">Detail</button>
                                      <button class="custom-btn btn-2">Delete</button>
                                      </div>
                                  </div>
                                  <div class="home--item__favourite">
                                    <i class=""></i>
                                    <span></span>
                                    
                                </div>
                                  
                                  <div class="home--item__more">
                                    <span class="home--item__sale-off-percent">...</span>
                                  
                                  </div>
                              </div>
                            </div>
                            <div class="col l-2">
                              <!-- Product item -->
                              <div class="home--item">
                                  <div class="home--item__img" style=" background-image: url(https://www.ueidaq.com/uploads/c-sharp_support.jpg)" ></div>
                                  <div class="home--item__info">
                                      <div class="home-info"> 
                                        <p><i class="material-icons">notes</i></p>
                                        <p class="home--item__name">
                                          Lập trình C#
                                        </p>
                                      </div>
                                      <div class="home-info">
                                          <p><i class="material-icons">event</i></p>
                                          <p class="home--item__name">
                                          Thứ 2 ( tiết 3-4 ) </p>
                                        </div>
                                      <div class="home-button">
                                      <button class="custom-btn btn-2">Detail</button>
                                      <button class="custom-btn btn-2">Delete</button>
                                      </div>
                                  </div>
                                  <div class="home--item__favourite">
                                    <i class=""></i>
                                    <span></span>
                                    
                                </div>
                                  
                                  <div class="home--item__more">
                                    <span class="home--item__sale-off-percent">...</span>
                                  
                                  </div>
                              </div>
                            </div>
                            <div class="col l-2">
                              <!-- Product item -->
                              <div class="home--item">
                                  <div class="home--item__img" style=" background-image: url(https://www.ueidaq.com/uploads/c-sharp_support.jpg)" ></div>
                                  <div class="home--item__info">
                                      <div class="home-info"> 
                                        <p><i class="material-icons">notes</i></p>
                                        <p class="home--item__name">
                                          Lập trình C#
                                        </p>
                                      </div>
                                      <div class="home-info">
                                          <p><i class="material-icons">event</i></p>
                                          <p class="home--item__name">
                                          Thứ 2 ( tiết 3-4 ) </p>
                                        </div>
                                      <div class="home-button">
                                      <button class="custom-btn btn-2">Detail</button>
                                      <button class="custom-btn btn-2">Delete</button>
                                      </div>
                                  </div>
                                  <div class="home--item__favourite">
                                    <i class=""></i>
                                    <span></span>
                                    
                                </div>
                                  
                                  <div class="home--item__more">
                                    <span class="home--item__sale-off-percent">...</span>
                                  
                                  </div>
                              </div>
                            </div>
                            <div class="col l-2">
                              <!-- Product item -->
                              <div class="home--item">
                                  <div class="home--item__img" style=" background-image: url(https://www.ueidaq.com/uploads/c-sharp_support.jpg)" ></div>
                                  <div class="home--item__info">
                                      <div class="home-info"> 
                                        <p><i class="material-icons">notes</i></p>
                                        <p class="home--item__name">
                                          Lập trình C#
                                        </p>
                                      </div>
                                      <div class="home-info">
                                          <p><i class="material-icons">event</i></p>
                                          <p class="home--item__name">
                                          Thứ 2 ( tiết 3-4 ) </p>
                                        </div>
                                      <div class="home-button">
                                      <button class="custom-btn btn-2">Detail</button>
                                      <button class="custom-btn btn-2">Delete</button>
                                    
                                      </div>
                                  </div>
                                  <div class="home--item__favourite">
                                    <i class=""></i>
                                    <span></span>
                                    
                                </div>
                                  
                                  <div class="home--item__more">
                                    <span class="home--item__sale-off-percent">...</span>
                                  
                                  </div>
                              </div>
                            </div>    
                          </div>
                          <div class="row">
                            <div class="col l-2">
                                <div class="home--item">
                                    <div class="home--item__img" style=" background-image: url(https://www.ueidaq.com/uploads/c-sharp_support.jpg)" ></div>
                                    <div class="home--item__info">
                                        <div class="home-info"> 
                                          <p><i class="material-icons">notes</i></p>
                                          <p class="home--item__name">
                                            Lập trình C#
                                          </p>
                                        </div>
                                        <div class="home-info">
                                            <p><i class="material-icons">event</i></p>
                                            <p class="home--item__name">
                                            Thứ 2 ( tiết 3-4 ) </p>
                                          </div>
                                        <div class="home-button">
                                        <button class="custom-btn btn-2">Detail</button>
                                        <button class="custom-btn btn-2">Delete</button>
                                        </div>
                                    </div>
                                    <div class="home--item__favourite">
                                      <i class=""></i>
                                      <span></span>
                                      
                                  </div>
                                    
                                    <div class="home--item__more">
                                      <span class="home--item__sale-off-percent">...</span>
                                    
                                    </div>
                                </div>
                            </div>
                            <div class="col l-2">
                              <!-- Product item -->
                              <div class="home--item">
                                  <div class="home--item__img" style=" background-image: url(https://www.ueidaq.com/uploads/c-sharp_support.jpg)" ></div>
                                  <div class="home--item__info">
                                      <div class="home-info"> 
                                        <p><i class="material-icons">notes</i></p>
                                        <p class="home--item__name">
                                          Lập trình C#
                                        </p>
                                      </div>
                                      <div class="home-info">
                                          <p><i class="material-icons">event</i></p>
                                          <p class="home--item__name">
                                          Thứ 2 ( tiết 3-4 ) </p>
                                        </div>
                                      <div class="home-button">
                                      <button class="custom-btn btn-2">Detail</button>
                                      <button class="custom-btn btn-2">Delete</button>
                                      </div>
                                  </div>
                                  <div class="home--item__favourite">
                                    <i class=""></i>
                                    <span></span>
                                    
                                </div>
                                  
                                  <div class="home--item__more">
                                    <span class="home--item__sale-off-percent">...</span>
                                  
                                  </div>
                              </div>
                            </div>
                            <div class="col l-2">
                              <!-- Product item -->
                              <div class="home--item">
                                  <div class="home--item__img" style=" background-image: url(https://www.ueidaq.com/uploads/c-sharp_support.jpg)" ></div>
                                  <div class="home--item__info">
                                      <div class="home-info"> 
                                        <p><i class="material-icons">notes</i></p>
                                        <p class="home--item__name">
                                          Lập trình C#
                                        </p>
                                      </div>
                                      <div class="home-info">
                                          <p><i class="material-icons">event</i></p>
                                          <p class="home--item__name">
                                          Thứ 2 ( tiết 3-4 ) </p>
                                        </div>
                                      <div class="home-button">
                                      <button class="custom-btn btn-2">Detail</button>
                                      <button class="custom-btn btn-2">Delete</button>
                                      </div>
                                  </div>
                                  <div class="home--item__favourite">
                                    <i class=""></i>
                                    <span></span>
                                    
                                </div>
                                  
                                  <div class="home--item__more">
                                    <span class="home--item__sale-off-percent">...</span>
                                  
                                  </div>
                              </div>
                            </div>
                            <div class="col l-2">
                              <!-- Product item -->
                              <div class="home--item">
                                  <div class="home--item__img" style=" background-image: url(https://www.ueidaq.com/uploads/c-sharp_support.jpg)" ></div>
                                  <div class="home--item__info">
                                      <div class="home-info"> 
                                        <p><i class="material-icons">notes</i></p>
                                        <p class="home--item__name">
                                          Lập trình C#
                                        </p>
                                      </div>
                                      <div class="home-info">
                                          <p><i class="material-icons">event</i></p>
                                          <p class="home--item__name">
                                          Thứ 2 ( tiết 3-4 ) </p>
                                        </div>
                                      <div class="home-button">
                                      <button class="custom-btn btn-2">Detail</button>
                                      <button class="custom-btn btn-2">Delete</button>
                                      </div>
                                  </div>
                                  <div class="home--item__favourite">
                                    <i class=""></i>
                                    <span></span>
                                    
                                </div>
                                  
                                  <div class="home--item__more">
                                    <span class="home--item__sale-off-percent">...</span>
                                  
                                  </div>
                              </div>
                            </div>
                            <div class="col l-2">
                              <!-- Product item -->
                              <div class="home--item">
                                  <div class="home--item__img" style=" background-image: url(https://www.ueidaq.com/uploads/c-sharp_support.jpg)" ></div>
                                  <div class="home--item__info">
                                      <div class="home-info"> 
                                        <p><i class="material-icons">notes</i></p>
                                        <p class="home--item__name">
                                          Lập trình C#
                                        </p>
                                      </div>
                                      <div class="home-info">
                                          <p><i class="material-icons">event</i></p>
                                          <p class="home--item__name">
                                          Thứ 2 ( tiết 3-4 ) </p>
                                        </div>
                                      <div class="home-button">
                                      <button class="custom-btn btn-2">Detail</button>
                                      <button class="custom-btn btn-2">Delete</button>
                                    
                                      </div>
                                  </div>
                                  <div class="home--item__favourite">
                                    <i class=""></i>
                                    <span></span>
                                    
                                </div>
                                  
                                  <div class="home--item__more">
                                    <span class="home--item__sale-off-percent">...</span>
                                  
                                  </div>
                              </div>
                            </div>    
                          </div>
              </div>
             </div>
             <ul class="pagination home-pagination">
              <li class="pagination-item">
                  <a href="" class="pagination-item__link">
                      <i class="material-icons icon-footer"> chevron_left</i>
                  </a>
              </li>
              <li class="pagination-item pagination-item--active"> 1
              </li>
              <li class="pagination-item">2</li>
              <li class="pagination-item">3</li>
              <li class="pagination-item">4</li>
              <li class="pagination-item">5</li>
              <li class="pagination-item">...</li>
              <li class="pagination-item">14</li>
              <li class="pagination-item">
                  <a href="" class="pagination-item__link">
                    <i class="material-icons icon-footer"> chevron_right</i>
                  </a>
              </li>
          </ul>
  </div>
</div>
</body>
</html>
