.home--item{
    background-color: var(--white-color);
    margin-top: 10px;
    margin-left: 4px;
    position: relative;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: transform linear 0.1s;
    will-change: transform;
}
.home--item:hover{
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}
.home--item__img{
    padding-top: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home--item__info{
    padding-bottom: 0.5rem;
}
.home--item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: #34AF6D !important;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home--item__name{
    font-size: 14px;
    color: #505050 !important;
    font-weight: 500;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home--item__info{
    border-top: #ccc 1px solid;
}
.home--item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-info{
    margin-top: 8px;
    display: flex;    
    align-items: center;
    margin-left: 12px;
    margin-bottom: -15px;
}
.home-button{
    margin-top: 16px;
}
.material-icons{
    margin-right: 8px;
    font-size: 16px;
    color: #8d8f8e;
}
.home--item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    border-top: 3px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}

.home--item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;

}
.home--item__more {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: #fff;
    border-top-right-radius: 2px;
}
.home--item__sale-off-percent {
    color: #ccc;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 2px;
    align-items: center;
}

.home--item__sale-off-lable {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 2px;
    font-weight: 600;
}
.custom-btn {
    margin-left: 17px;
    margin-bottom: 10px;
    width: 70px;
    height: 30px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-size: 14px !important;
}
  .btn-2 {
    background: rgb(52 175 109);
    background: linear-gradient(0deg, rgba(52,175,109,1) 0%, rgba(52 ,175, 109,1) 100%);
    border: none;
    
  }
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  .btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;

}
.home-pagination{
    
    margin: 36px 0 32px 0;
}
.pagination-item{
    font-size: 16px;
    list-style: none;
    padding: 10px 18px;
    color: #939393;
    margin: 0 10px;
    font-weight: 500;
    cursor: pointer;
}
.pagination-item__link{
    display: block;
    font-weight: 300;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    text-align: center;
    border-radius: 2px;
}
.pagination-item--active{
    color: #fff;
    background-color: #34AF6D ;
    border-radius: 2px;
}
.icon-footer{
    font-size: 24px !important;
}
:root {
    --background-color: #f5f6fa;
    --text: #9c9c9c;
    --input-bg-color: #fff;
    --input-text-color: #a3a3a3;
    --button-bg-color: #34AF6D;
    --button-text-color: #fff;
    }
    a {
    color: inherit;
    }
    a:hover {
    color: var(--button-bg-color);
    }
    
    /* helper */
    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    } 
    .uppercase {
    text-transform: uppercase;
    }
    .btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: 14px;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
    }
    .btn--primary {
    background: var(--button-bg-color);
    color: var(--button-text-color);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 8px 24px;
    }
    
    .btn--primary:hover {
    background: darken(var(--button-bg-color), 4%);
    color: #000;
    }

    .btn--primary:active {
    background: var(--button-bg-color);
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
    }
    .btn--inside {
    margin-left: -86px;
    }
    .form__field {
    width: 320px;
    background: var(--input-bg-color);
    color: var(--input-text-color);
    font: inherit;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0;
    outline: 0;
    padding: 14px 14px;
}
.col-1{
    border: 1px #fff  solid; 
    margin-top: 14px; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
     height: 500px;
}
.col-2{
    margin-left:30px;
    border: 1px #fff  solid;
    margin-top: 14px; 
    padding-bottom: 20px; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.btn-block {
    display: block;
    margin-top: 16px;
}
.btn-success {
    color: #fff;
    background-color: #34AF6D !important;
    border-color: #41c880;
}
.btn-create {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 7px 20px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;font-family: inherit;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    cursor: pointer;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}
