<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Infomation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./TeacherInfo.css">
<style type="text/css">
</style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
           <div class="profile-card-4 z-depth-3">
                <div class="card">
<div class="card-body text-center bg-primary rounded-top" style=" background-color: #34AF6D !important;">
<div class="user-box">
<img src="https://img.freepik.com/premium-vector/female-user-profile-avatar-is-woman-character-screen-saver-with-emotions_505620-617.jpg" alt="user avatar">
</div>
    <h5 class="mb-1 text-white">Yến Nhi</h5>
    <h6 class="text-light">Student</h6>
</div>
<div class="card-body">
    <ul class="list-group shadow-none">
<li class="list-group-item">
    <div class="list-icon">
    <i class="fa fa-phone-square"></i>
    </div>
    <div class="list-details">
    <span>0329 433 141</span>
    <small>Mobile Number</small>
    </div>
</li>
<li class="list-group-item">
    <div class="list-icon">
    <i class="fa fa-envelope"></i>
    </div>
    <div class="list-details">
    <span><a style="color: #34AF6D ;" href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="84edeae2ebc4e1fce5e9f4e8e1aae7ebe9">[email&#160;protected]</a></span>
    <small>Email Address</small>
    </div>
</li>
<li class="list-group-item">
    <div class="list-icon">
        <i class="fa fa-book"></i>
    </div>
    <div class="list-details">
    <span>102200144</span>
    <small>Student ID</small>
    </div>
</li>

</ul>

</div>
<div class="card-footer text-center">
<a href="javascript:void()" class="btn btn-icon btn-social btn-facebook waves-effect waves-light m-1"><i class="fa fa-facebook"></i></a>
<a href="javascript:void()" class="btn btn-icon btn-social btn-google-plus waves-effect waves-light m-1"><i class="fa fa-google-plus"></i></a>
<a href="javascript:void()" class="btn btn-icon list-inline-item btn-social btn-behance waves-effect waves-light"><i class="fa fa-behance"></i></a>
<a href="javascript:void()" class="btn btn-icon list-inline-item btn-social btn-dribbble waves-effect waves-light"><i class="fa fa-dribbble"></i></a>
</div>
</div>
</div>
</div>
<div class="col-lg-8">
<div class="card z-depth-3">
<div class="card-body">
<ul class="nav nav-pills nav-pills-primary nav-justified">
<li class="nav-item">
<a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active show">
    <i class="icon-user"></i> 
    <span class="hidden-xs">Profile</span>
</a>
</li>
<li class="nav-item">
<a href="javascript:void();" data-target="#majors" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Faculty</span></a>
</li>
<li class="nav-item">
<a href="javascript:void();" data-target="#security" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Security</span></a>
</li>
</ul>
<div class="tab-content">
<div class="tab-pane active show" id="profile">
<h5 class="mb-1" style=" border: 1px #efefef solid; padding: 10px;background-color: #efefef;" >Personal information</h5>

<div class="tab-pane" id="profile" >
    <form style=" border: 1px #efefef solid; padding: 10px ;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;" >
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">First name</label>
        <div class="col-lg-3">
        <input class="form-control" type="text" value="Yến">
        </div>
        <label class="col-lg-2 col-form-label form-control-label" style="margin-left: 56px;">Last name</label>
        <div class="col-lg-3">
            <input class="form-control" type="text" value="Nhi">
            </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Full Name</label>
        <div class="col-lg-9">
        <input class="form-control" type="text" value="Yến Nhi">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Username</label>
        <div class="col-lg-9">
        <input class="form-control" type="text" value="yennilqs">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Email</label>
        <div class="col-lg-9">
            <input class="form-control" type="email" value="yennhi81@gmail.com">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Teacher ID</label>
        <div class="col-lg-9">
        <input class="form-control"  type="datetime" name="" id="">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Birthday</label>
        <div class="col-lg-9">
        <input class="form-control" type="date" name="" id="">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Gender</label>
        <div class="col-lg-6 choose">
       <div> <input  type="radio" name="" id="" > <span>Male</span></div>
       <div style="margin-left: 24px;"> <input  type="radio" name="" id="" > <span>FeMale</span></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">About</label>
        <div class="col-lg-9">
        <textarea class="form-control" name="" id="" cols="64" rows="2"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Address</label>
        <div class="col-lg-9">
            <input class="form-control" type="text" value="" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Phone</label>
        <div class="col-lg-9">
            <input class="form-control" type="text" value="" placeholder="">
        </div>
      </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Change avatar</label>
        <div class="col-lg-9">
        <input class="form-control" type="file">
        </div>
    </div>
    <div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label"></label>
    <div class="col-lg-9">
    <input type="reset" class="btn btn-secondary" value="Cancel">
    <input type="button" class="btn btn-primary" value="Save Changes">
    </div>
    </div>
    </form>
    <h5 class="mb-1" style=" border: 1px #efefef solid; padding: 10px;background-color: #efefef; margin-top:16px">Personal information of relatives</h5>
    <form style=" border: 1px #efefef solid; padding: 10px ; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;" >
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Father's name</label>
            <div class="col-lg-9">
            <input class="form-control" type="text" value="">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Mother's name</label>
            <div class="col-lg-9">
            <input class="form-control" type="text" value="">
            </div>
        </div>
        <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"></label>
        <div class="col-lg-9">
        <input type="reset" class="btn btn-secondary" value="Cancel">
        <input type="button" class="btn btn-primary" value="Save Changes">
        </div>
        </div>
        </form>
    </div>
</div>
<div class="tab-pane" id="majors">
    <form>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Faculty</label>
            <div class="col-lg-9">
            <input class="form-control" type="text" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Faculty ID</label>
            <div class="col-lg-9">
                <input class="form-control" type="text" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">School</label>
            <div class="col-lg-9">
                <input class="form-control" type="text" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-9">
            <input type="reset" class="btn btn-secondary" value="Cancel">
            <input type="button" class="btn btn-primary" value="Save Changes">
            </div>
        </div>
    </form>
</div>
<div class="tab-pane" id="security">
    <form>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Old Password</label>
            <div class="col-lg-9">
            <input class="form-control" type="password" value="1234">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">New Password</label>
            <div class="col-lg-9">
            <input class="form-control" type="password" value="1234">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
            <div class="col-lg-9">
            <input class="form-control" type="password" value="1234">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-9">
            <input type="reset" class="btn btn-secondary" value="Cancel">
            <input type="button" class="btn btn-primary" value="Save Changes">
            </div>
        </div>
    </form>
</div>
</div>
</div>

</div>

</div>
</div>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    
</script>
</body>
</html>